extends base

block content
  main.main
    .forgot-password-form
      h2 Forgot your password?
      form.form--forgot-password  // ✅ add this class
        .form__group
          label.form__label(for='email') Email address
          input.form__input#email(type='email', name='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green(type='submit') Send reset link
